{#
	Macros that can be used as needed on pages.
#}

{% macro submenu(which) %}
{% set submenu = smcMenu(menu_active) %}
		<ul class="nav nav-tabs">
{% for item in submenu[which]['submenu'] %}
{% if item.submenu is not empty %}
			<li class="dropdown{{ item.active ? ' active' : '' }}">
				<a class="dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}">
					{{ item.title }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
{% for subitem in item.submenu %}
					<li{{ subitem.active ? ' class="active"' : '' }}><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
{% endfor %}
				</ul>
			</li>
{% else %}
			<li{{ item.active ? ' class="active"' : '' }}><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endif %}
{% endfor %}
		</ul>
{%- endmacro %}

{% macro pagination(url, pages, current_page) %}
	
	{# This needs to be revised to work better
	 # For example, pass pages=5 and current_page=2 and you get:
	 #	<a>1</a> | 2 | <a>3</a> | ... | <a>5</a>
	 # That '...' should be a <a>4</a>
	 #
	 # Also, it's currently running on a hack to get the pages total to work.
	 # Should the first page be 0 or 1 in the URL?
	 #}
	
	{#
	 # a little painful to read if you have a lot of pages - need JS to shrink it 
	 # be aware that the page no. passed by href starts at 0 yet it will display 1 to the user
	 # as it's what people expect (i.e. only us programmers count from 0)
	 #}
	<div class="pagination pagination-centered">
		<ul>
			{# make a list of allowed pages... #}
			{% if 2 < pages %}
				{# if this is running then we have too many pages #}
				{#{% set pages_allowed = [0,pages] %}#}
				{% set pages_allowed = [] %}
				{% for i in [(current_page-1), current_page, (current_page+1)]|merge([1,pages]) if i not in pages_allowed and i <= pages %}
					{% set pages_allowed = pages_allowed|merge([i]) %}
				{% endfor %}
			{% else %}
				{% set pages_allowed = 0..pages %}
			{% endif %}
			
			{# this is used so we know whether to use ... or not #}
			{% set k = true %}
			
			{% for i in 1..pages %}
				{% if i in pages_allowed %}
					{% set k = false %}
					{% if current_page == i %}
				<li class="active"><a href="#">{{i}}</a></li>
					{% else %}
				<li><a href="{{url}}{{i}}">{{i}}</a></li> 
					{% endif %}
				{% else %}
					{% if not k %}
						{% if (i+1) not in pages_allowed %}
							<li class="disabled"><a href="#">...</a></li>
							{% set k = true %}
						{% else %}
							<li><a href="{{url}}{{i}}">{{i}}</a></li>
							{% set k = true %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	
{%- endmacro %}