{#
	Macros that can be used as needed on pages.
#}

{% macro submenu(which) %}
{% set submenu = smcMenu(menu_active) %}
		<ul class="nav nav-tabs">
{% for item in submenu[which]['submenu'] %}
			<li{{ item.active ? ' class="active"' : '' }}><a href="{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
		</ul>
{%- endmacro %}

{% macro pagination(url, pages, current_page) %}

	{#
	 # a little painful to read if you have a lot of pages - need JS to shrink it 
	 # be aware that the page no. passed by href starts at 0 yet it will display 1 to the user
	 # as it's what people expect (i.e. only us programmers count from 0)
	 #}
	{% for i in 0..pages %}
		{% if current_page == i %}
	[{{i+1}}]
		{% else %}
	[<a href="{{url}}{{i}}">{{i+1}}</a>] 
		{% endif %}
	{% endfor %}

{%- endmacro %}